{% extends 'base.html' %}

{% block content %}

<div class="row">
<div class="col-2">
  <img src="{{product.icon.url}}" alt="" class="img-fluid">
</div>
  <div class="col-10">
    <h1>{{product.title}}</h1>
  </div>
</div>

<div class="row">
<div class="col-8">
  <img src="{{product.image.url}}" alt="" class="img-fluid">
</div>
  {% if user.is_authenticated %}
  <div class="col-4">
    <a href="javascript:{document.getElementById('upvote').submit()}"><button class="btn btn-primary btn-lg btn-block" type="button" name="upvote"><span class="oi oi-caret-top"></span> Upvote {{product.votes_total}}</button></a>
    <form id="upvote" action="" method="POST">
      {% csrf_token %}
      <input type="hidden" />
    </form>
  </div>
  {% else %}
  <div class="col-4">
    <p id="error_upvote" style="color:red;"></p>
    <button class="btn btn-primary btn-lg btn-block" type="button" name="upvote" style="cursor:not-allowed" onclick="login_neccessary()" ><span class="oi oi-caret-top"></span> Upvote {{product.votes_total}}</button>
  </div>
  {% endif %}
</div>

<div class="row">
<div class="col-4">
<h4>Hunted By : <a href="">{{product.hunter.username}}</a></h4>
</div>
  <div class="col-4 text-right">
    <h4>{{product.pub_date}}</h4>
  </div>
</div>

<div class="row">
<div class="col-8">
  <p>{{product.body}}</p>
</div>
</div>

<script type="text/javascript">

function login_neccessary(){
  error_message = 'Login to Upvote a Product';
  document.getElementById('error_upvote').innerHTML = error_message;
}

</script>

{% endblock %}
